{% extends 'akshara/base.html' %}
{% load static %}
{% block content %}
<div class="container-md">
    <div class="jumbotron">
        <h1>Learn Kannada  </h1>
        <h1>ಕನ್ನಡ ಕಲಿಯಿರಿ</h1>
        <br/>
      <p>       A GRK initiative.. </p>
    </div>
</div>
<div class="container-md text-center">

    <a href="{% url 'letters' %}">Kannada Alphabets </a>
    <br/>
    <a href="{% url 'randomletter' %}">Generate Random Letter </a>
    <br/>
    <a href="{% url 'randomletters' %}">Generate Random Letters </a>

</div>
{% endblock %}