{% extends 'akshara/base.html' %}
{% load static %}
{% block content %}
<div class="container-md">
    <div class="jumbotron">
        <h1>Learn Kannada  </h1>
        <h1>ಕನ್ನಡ ಕಲಿಯಿರಿ</h1>
        <br/>
      <p>       A GRK initiative.. </p>
    </div>
</div>
<div class="container-md text-center">
<p>{{textbox|safe}}</p>
    <a href="{% url 'letters' %}">Kannada Alphabets </a>
    <br/>
    <a href="{% url 'words4letter' %}">Words for a letter </a>
    <br/>
    <a href="{% url 'randomletter' %}">Generate Random Letter </a>
    <br/>
    <a href="{% url 'randomletters' %}">Generate Random Letters </a>
    <br/>
    <a href="{% url 'randomengword' %}">Generate Random English Word </a>
    <br/>
    <a href="{% url 'randomkanword' %}">Generate Random Kannada Word </a>
    <br/>
    <a href="{% url 'randomimage' %}">Generate Random Image </a>
</div>
{% endblock %}